[workspace]
members = [
    "simplebench-runtime",
    "simplebench-macros",
    "cargo-simplebench",
]

resolver = "2"

[profile.bench]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = false
incremental = false
codegen-units = 16